/*----------------------------------------------------------------------------
 Base Styles
----------------------------------------------------------------------------*/
/* Header
--------------------------------------*/
header {
  a {
    text-decoration: none;
  }
}

body {
  z-index: 1;
}

img {
  height: auto;
  width: auto;
}
