//----------------------------------------------------------------------------
// Vendor Options
//---------------------------------------------------------------------------/
// Materialize CSS options override.
//-------------------------------------/
// Grid breakpoints override.
$small-screen-up: 601px;
$medium-screen-up: 1025px;
$large-screen-up: 1201px;
$small-screen: 600px;
$medium-screen: 1024px;
$large-screen: 1200px;

// Font path override
$roboto-font-path: "../fonts/roboto/";

$dropdown-color: #3d3d3d;

//----------------------------------------------------------------------------
// Project Options
//---------------------------------------------------------------------------/
// Navigation.
//-------------------------------------/
// Side navigation options.
$bdbg-nav--side-color: #000;
