//----------------------------------------------------------------------------
// Vendor Options
//---------------------------------------------------------------------------/
// Materialize CSS options override.
//-------------------------------------/
// Grid breakpoints override.
$small-screen-up: 601px;
$medium-screen-up: 1025px;
$large-screen-up: 1201px;
$small-screen: 600px;
$medium-screen: 1024px;
$large-screen: 1200px;

// Grid gutter
$gutter-width: 2rem;
$element-top-margin: $gutter-width / 2;
$element-bottom-margin: $gutter-width / 2;

// Font path override
$roboto-font-path: "../fonts/roboto/";

// Dropdowns
$dropdown-color: #3d3d3d;

// Buttons
$button-raised-background: #ff4081;

// Inputs
$input-focus-color: #ff4081;
$input-border-color: #ff4081;
$input-success-color: #ff4081;

//----------------------------------------------------------------------------
// Project Options
//---------------------------------------------------------------------------/
// Navigation.
//-------------------------------------/
// Side navigation options.
$bdbg-nav--side-color: #000;
