//----------------------------------------------------------------------------
// Project Options
//---------------------------------------------------------------------------/
// Module Site Menu
//-------------------------------------/

// Menu items
$menuitem-pading-horizontal: 1em;
$menuitem-pading-vertical: 0.5em;
$menuitem-back-border: 1px solid rgba(0, 0, 0, .12);

$mainmenu-submenuitem-padding: 0.5em 1em;
$mainmenu-submenuitem-hover-background: #eee;
$menulink-color: #fff;
$menulink-color-subitem: #333;

// Submenu
$menusubmenu-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
$mainmenu-submenu-minwidth: 10em;
$mainmenu-submenu-zindex: 99;
$mainmenu-submenu-verticalpadding: 0.4em;
$mainmenu-submenu-borderradius: 3px;
$mainmenu-submenu-transition: 0.5s;

$submenu-background: #fff;

$transition-menu: .2s;
