.bdbg-header {
  top: 0;
  height: 64px;
  position: static;
  margin-bottom: $gutter-width / 2;

  @media screen and (max-width: $small-screen) {
    margin-bottom: $gutter-width / 4;  
  }
}

.bdbg-header.navbar-fixed {
  // position: static;

  @include admin-sticky-fix;
}

.bdbg-menu--side {
  @include admin-sticky-fix;
}

html {
  margin-top: 0 !important;
}

.bdbg-logo {
  height: 100%;
  max-height: 100%;
}

html #wpadminbar {
  position: fixed;
}
