.bdbg-post__featured {
  position: absolute;
  top: 1rem;
  left: 1rem;
  line-height: 1;

  i {
    font-size: 3rem;
  }
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating) {
  color: #FF4081;
}
