//----------------------------------------------------------------------------
// Site Menu modile
//---------------------------------------------------------------------------/
// General styles
//-------------------------------------/
.bdbg-menu {
  display: flex;
  align-items: stretch;
  height: 100%;
  margin: 0;

  &,
  ul {
    list-style: none;
    padding: 0;
  }

  a {
    text-decoration: none;
    color: $menulink-color;
  }
}

.bdbg-menu__item--back {
  border-bottom: $menuitem-back-border;
}

.bdbg-menu__item {
  // padding: 0 $menuitem-pading-horizontal;

  a {
    display: flex;
    padding: $menuitem-pading-vertical $menuitem-pading-horizontal;
  }
}

.bdbg-menu__item--level-0 {
  &.bdbg-menu__item--has-children {
    &.is-submenu-visible a:after{
      transform: rotate(180deg);
    }

    > a::after {
      font-family: "Material Icons";
      font-weight: normal;
      font-style: normal;
      font-size: 1.5em;
      line-height: 1;
      letter-spacing: normal;
      text-transform: none;
      display: inline-block;
      white-space: nowrap;
      word-wrap: normal;
      -webkit-font-feature-settings: "liga";
      -webkit-font-smoothing: antialiased;
      content: "arrow_drop_down";
      transition: all $transition-menu;
    }
  }

  > .bdbg-menu__submenu {
    &.is-visible {
      display: block;
    }
  }
}

.bdbg-menu__submenu {
  display: none;
  min-width: $mainmenu-submenu-minwidth;
  z-index: $mainmenu-submenu-zindex;
  background-color: $submenu-background;

  .bdbg-menu__item {
    padding: 0;

    a {
      color: $menulink-color-subitem;

      &:hover {
        background-color: $mainmenu-submenuitem-hover-background;
      }
    }
  }

  &.is-open {
    > li {
      display: none;
    }

    > .is-open {
      display: block;

      > .bdbg-menu__submenu {
        display: block;
      }

      > a {
        display: none;
      }
    }
  }
}

// Main styles
//-------------------------------------/
.bdbg-menu--main {
  flex-direction: row;
  justify-content: flex-end;

  > .bdbg-menu__item {
    display: flex;
    align-items: stretch;

    > a {
      display: flex;
      align-items: center;
    }
  }

  .bdbg-menu__item--level-0 {

    &.bdbg-menu__item--has-children {
      position: relative;
    }

    > .bdbg-menu__submenu {
      position: absolute;
      box-shadow: $menusubmenu-box-shadow;
      top: 110%;
      left: 0;
      padding: $mainmenu-submenu-verticalpadding 0;
      border-radius: $mainmenu-submenu-borderradius;
    }
  }
}

// Side styles
//-------------------------------------/
.bdbg-menu--side {
  flex-direction: column;

  a {
    padding: $menuitem-pading-vertical * 2 $menuitem-pading-horizontal * 2;
    color: $menulink-color-subitem;
    justify-content: space-between;

    &:hover {
      background-color: $mainmenu-submenuitem-hover-background;
    }
  }
}


// Footer styles
//-------------------------------------/
.bdbg-menu--footer {
  flex-direction: column;
}


// Modifying defailt styles
//-------------------------------------/
.mdl-layout__drawer {
  width: auto;
}
